.transactionHistory {
  width: 600px;
  margin: 40px auto;
  border-collapse: collapse;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.transactionHistory thead {
  background-color: #0b0c0b;
  color: #fff;
  text-transform: uppercase;
}

.transactionHistory th,
.transactionHistory td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.transactionHistory tbody tr:nth-child(even) {
  background-color: #0c0d0e;
}

.transactionHistory tbody tr:hover {
  background-color: #16ad16;
  transition: background-color 0.2s ease-in-out;
}
